.login-container {
    max-width: 420px;
    margin: 0 auto;
    margin: 0 auto;
    margin-top: 40px;
}

.login-form-button {
    width: 100%;

    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}
.login-form input {
    margin-bottom: 15px;
}
.loginSVG {
    width: 20%;
}