.user-details {
    margin-bottom: 44px;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0 auto;
    text-align: center;
}

.user-avatar-circle {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    line-height: 60px;
}

.user-avatar-circle > * {
    line-height: 120px;
    font-size: 40px;
    position: relative !important;
    left: 0 !important;
}

.user-summary {
    text-align: center;
    padding-top: 20px;
}

@media (min-width: 576px) {
    .user-details {
        text-align: left;
        display: table;
    }

    .user-avatar, .user-summary {
        float: left;
        text-align: left;
    }

    .user-summary {
        padding-top: 0;
        padding-left: 40px;
        width: calc(100% - 120px);
    }
}

.user-summary .full-name {
    font-size: 30px;
    font-weight: 600;
    color: rgba(0,0,0,0.85);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.user-summary .username {
    font-size: 20px;
}

.user-summary .user-joined {
    margin-top: 5px;
}


body {
    background: #F1F3FA;
}

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 460px;
}